asttokens==3.0.2
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
coloredlogs==15.0.1
daemoniker==0.2.3
decorator==5.3.1
dill==0.4.1
exceptiongroup==1.3.1
executing==2.2.1
flaky==3.8.1
getch==1.0
gym-notices==0.1.0
gym==0.23.1
humanfriendly==10.0
idna==3.19
ImageHash==4.3.2
inflection==0.5.1
ipython==8.39.0
jedi==0.20.0
Jinja2==3.1.6
lxml==6.1.3
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
numpy==1.23.5
opencv-python==4.11.0.86
parso==0.8.7
pexpect==4.9.0
pillow==10.4.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.4
pyglet==2.1.16
Pygments==2.21.0
Pyro4==4.82
PyWavelets==1.8.0
requests==2.34.2
scipy==1.15.3
serpent==1.43
setuptools==65.5.0
stack-data==0.6.3
tqdm==4.70.1
traitlets==5.16.1
typing==3.7.4.3
typing_extensions==4.16.0
urllib3==2.8.0
wcwidth==0.8.3
xmltodict==0.12.0
wheel==0.38.4
